# ------------------------------------------------------------------------------
# Examples

define-command -override quick-dev-hello-world \
-docstring 'example quick-dev command' %{
    echo 'hello world!'
}

# TODO: add examples of other reloadable constructs:
# - mappings
# - hooks
# - modules

# ------------------------------------------------------------------------------
# Scratch Space - add your prototype script code here
# IMPORTANT: code added here must be reloadable (re-sourceable)!


